html,body,#root{height:100%;margin:0;padding:0}*{box-sizing:border-box}.scene-root,.fullscreen-scene{width:100vw;height:100vh;border:0;margin:0;padding:0;overflow:hidden;position:fixed;top:0;right:0;bottom:0;left:0;background:#0b0b0c}
